.code-editor {
  display:inline-block;
  border-width: thin;
  /*padding: 9.5px;*/
  border-radius: 4px;
  border: 1px solid #ccc;
}

/*#term {
  position: absolute;
  visibility: hidden;
}*/

.output {
  /*float: right;*/
  /*padding: 9.5px;*/
  border-radius: 4px;
  border: 1px solid #ccc;
  border-width: thin;
  display: inline-block;
  height: 200px;
  max-height: 100%;
  overflow-y: auto;
  background-color: #f5f5f5;

}

/*.compiler-controls {
  border-style: solid;
  border-width: thin;
  padding-right: 0px;
}*/
